<div class="payment-problem box">
    <div class="heading-small">
        <h2><span></span>Payment problem</h2>
    </div>

    <div class="text-center">
        <p class="start-transfer">It looks like your payment did not work</p>
    </div>

    <div class="text-center">
        <a href="" class="btn-tik"></a>
    </div>
</div>