<div class="set-background box" ng-controller="BackgroundController as background">
    <a class="close" ng-click="modal.cancel()"></a>

    <div class="heading-small">
        <h2><span></span>Set my background</h2>
    </div>

    <form action="#">
        <div class="input-enter">
            <div class="wrap bakcground">
                <input type="email" placeholder="Select image from device" ngf-select="background.uploadImage($file)" accept="image/*">
                <span></span>
            </div>
        </div>
    </form>

    <div class="text-center">
        <a class="btn-tik" ng-click="modal.ok(background.imagePath)"></a>
    </div>
</div>