<div class="password box">
    <a href="#" class="main-close"></a>

    <div class="heading-small">
        <h2><span></span>Password</h2>
    </div>

    <p class="margin">This folder is password protected. The person that shared it can give it to you.</p>

    <form action="#">
        <div class="input-enter">
            <div class="wrap pass">
                <input type="password" placeholder="Enter password">
                <span></span>
            </div>
        </div>
    </form>

    <div class="text-center">
        <a href="" class="btn-tik"></a>
    </div>
</div>