<div class="col-xs-12 col-sm-offset-2 col-sm-8" ng-controller="SignInController as signIn">
    <div class="existings-users box">
        <a href="#" class="main-close" ng-click="modal.cancel()"></a>

        <div class="heading-small">
            <h2><span></span>Existing users</h2>
        </div>

        <form action="#">
            <div class="input-enter">
                <div class="wrap email">
                    <input type="email" placeholder="Email" ng-model="signIn.email">
                    <span></span>
                </div>

                <div class="wrap pass">
                    <input type="password" placeholder="Password" ng-model="signIn.password">
                    <span></span>
                </div>
            </div>
        </form>

        <div class="clearfix">
            <div class="left">
                <div class="wrap-check">
                    <label class="label-checkbox">
                        <input type="checkbox" ng-model="signIn.rememberMe">
                        <span class="wrap"><span>Remember</span></span>
                    </label>
                </div>
            </div>

            <div class="right text-right"><a href="#" class="blue" ng-click="signIn.forgotPassword();modal.ok()">Forgot
                Pass</a></div>
        </div>

        <span class="line"></span>

        <p class="margin text-center">Need an account?</p>

        <div class="medal">
            <span class="ico"></span>
            <a href="#" class="blue" ng-click="signIn.enjoyPro();modal.ok()">See Pro Benefits</a>
        </div>

        <div class="text-center">
            <a href="" class="btn-tik"></a>
        </div>
    </div>
</div>