<div class="col-xs-12 col-sm-offset-2 col-sm-8">
    <div class="get-link box">
        <a href="#" class="close" ng-click="modal.cancel()"></a>

        <div class="heading-small">
            <h2><span></span>Get download link</h2>
        </div>

        <form action="#">
            <div class="input-enter">
                <div class="wrap bakcground">
                    <input type="email" placeholder="airfile.co/f92ja">

                    <div><i></i>Copy</div>
                </div>
            </div>
        </form>

        <div class="text-center">
            <a href="" class="btn-tik" ng-click="modal.ok()"></a>
        </div>
    </div>
</div>