<div class="col-xs-12 col-sm-offset-2 col-sm-8">
    <div class="forgot-password box">
        <a href="#" class="main-close" ng-click="modal.cancel()"></a>

        <div class="heading-small">
            <h2><span></span>Forgot Password</h2>
        </div>

        <form action="#">
            <div class="input-enter">
                <div class="wrap email">
                    <input type="email" placeholder="Email" ng-model="modal.forgotEmail">
                    <span></span>
                </div>
            </div>
        </form>

        <p class="margin text-center">You will receive a new password</p>

        <div class="text-center">
            <a href="#" class="btn-tik" ng-click="modal.ok(modal.forgotEmail)"></a>
        </div>
    </div>
</div>