<div class="header">
    <div class="container clearfix">
        <ng-transclude></ng-transclude>

        <a href="#" class="touch-menu" ng-click="shell.toggleMenu()"></a>
    </div>
    <div class="bottom-h"></div>
</div>