<div class="col-xs-12 col-sm-offset-2 col-sm-8">
    <div class="delete box">
        <div class="heading-small">
            <h2><span></span>Are you sure that you want to delete?</h2>
        </div>

        <div class="ico-delete">
            <a href="#" class="ico-del tank" ng-click="modal.ok()"></a>
            <a href="#" class="ico-del clos" ng-click="modal.cancel()"></a>
        </div>
    </div>
</div>