<div class="col-xs-12 col-sm-offset-2 col-sm-8">
    <div class="help box">
        <a class="main-close" ng-click="modal.cancel()"></a>

        <div class="heading-small">
            <h2><span></span>Get Pro</h2>
        </div>

        <div class="agent">
            <a ng-click="modal.ok()"><span>Do you wish to keep this background picture?</span></a>
        </div>

        <div class="text-center">
            <button class="error" ng-click="modal.cancel()">No thanks</button>
        </div>
    </div>
</div>