<div class="transfer-complete box">
    <div class="heading-small">
        <h2><span></span>Transfer complete</h2>
    </div>

    <div class="text-center">
        <p class="start-transfer">A confirmation email is on it's way.</p>
    </div>

    <div class="text-center">
        <a href="" class="btn-tik"></a>
    </div>
</div>