<div class="col-xs-12 col-sm-offset-2 col-sm-8" ng-controller="GiftController as gift">
    <div class="gift box">
        <div class="heading">
            <h1><span></span>Wait, we have a gift</h1>
        </div>

        <div class="heading violet">
            <h1>Save 10% on Pro</h1>
        </div>

        <form action="#">
            <div class="input-enter">
                <button type="submit"><span><span></span>Apply discount</span></button>
            </div>
        </form>

        <p class="margin">Don`t want to use it now? Let us email you the discount . Use the link in the email to buy.</p>

        <form action="#" name="discountEmailForm">
            <div class="input-enter">
                <div class="wrap email">
                    <input type="email" placeholder="Your Email" name="discountMail" ng-model="gift.discountEmail">
                    <span></span>
                </div>
            </div>

        </form>
        <form action="#" class="ng-hide" ng-show="gift.checkSendActive(discountEmailForm.discountMail.$viewValue)">
            <div class="input-enter">
                <button type="button" ng-click="gift.sendDiscountEmail()"><span><span class="discount-email-send"></span>Send</span>
                </button>
            </div>
        </form>

        <div class="heading heart">
            <h1><span></span>We got one question</h1>
        </div>

        <div class="text-center"><p class="margin">How can we have you as a client?</p></div>

        <div class="agent">
            <a><i></i><span>Tell a live AirFile agent how</span></a>
        </div>

        <div class="text-center">
            <button class="error" ng-click="modal.cancel()">No thanks</button>
        </div>
    </div>
</div>