<div id="menu" ng-class="{'active': shell.menuOpened}">
    <nav>
        <ul>
            <li>
                <form action="#">
                    <div class="input-enter">
                        <div class="spinner ng-hide" ng-show="menu.messageSending">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <div class="wrap" ng-class="menu.feedbackMessage.length >= 5 ? 'new-transfer' : 'back'">
                            <input type="text" placeholder="{{menu.feedbackPlaceholder}}"
                                   ng-model="menu.feedbackMessage"
                                   ng-class="{'invisible': menu.messageSending }">
                            <span ng-class="{'invisible': menu.messageSending }" ng-click="menu.sendFeedback()"></span>
                        </div>
                    </div>
                </form>
            </li>
            <li class="transfer"><a ui-sref="transfer" ui-sref-opts="{reload: true}"><span></span>Transfer</a></li>
            <li class="history"><a ui-sref="history" ui-sref-opts="{reload: true}"><span></span>History</a></li>
            <li class="log"><a href="#" ng-click="menu.signIn()"><span></span>Log In</a></li>
            <li class="get"><a href="#" ng-click="menu.enjoyPro()"><span></span>Get Pro</a></li>
        </ul>
    </nav>
</div>