<div class="col-xs-12 col-sm-offset-2 col-sm-8">
    <div class="password-sent box">
        <a href="#" class="main-close" ng-click="modal.cancel()"></a>

        <div class="heading-small">
            <h2><span></span>Password sent</h2>
        </div>

        <p class="margin text-center">The password has been sent</p>

        <div class="text-center">
            <a href="#" class="btn-tik" ng-click="modal.ok()"></a>
        </div>
    </div>
</div>