<div class="col-xs-12 col-sm-offset-2 col-sm-8" ng-controller="ShareController as share">
    <div class="sharing-options box">
        <div class="heading-small">
            <h2><span></span>Sharing Options</h2>
        </div>

        <form action="#">
            <div class="input-enter">
                <div class="wrap email">
                    <input type="email" placeholder="Enter Email Addresses...">
                    <span></span>
                </div>
                <div class="wrap link">
                    <input type="text" placeholder="Get a shareable link">
                    <span ng-click="share.getDownloadLink()"></span>
                </div>
            </div>
        </form>

        <div class="social">
            <a href="#" class="ico-social fb"></a>
            <a href="#" class="ico-social tw"></a>
            <a href="#" class="ico-social in"></a>
            <a href="#" class="ico-social gl"></a>
        </div>

        <div class="text-center">
            <a href="" class="btn-tik" ng-click="modal.ok()"></a>
        </div>
    </div>
</div>