<div class="col-xs-12 col-sm-offset-2 col-sm-8" ng-controller="EnjoyProController as enjoyPro">
    <div class="air-file-pro box">
        <div class="heading">
            <h1><span></span>Enjoy AirFile Pro</h1>
        </div>

        <form action="#">
            <div class="input-enter">
                <div class="wrap email">
                    <input type="email" placeholder="Your Email">
                    <span></span>
                </div>

                <div class="selected" slide-toggle=".drop">
                    <div class="wrap select">
                        <a class="view-select" ng-bind="enjoyPro.selected"></a>
                        <span></span>
                    </div>

                    <ul class="drop" slideable>
                        <li ng-repeat="option in ::enjoyPro.options" ng-click="enjoyPro.selectPro(option)"><span ng-bind="option"></span>
                    </ul>

                </div>

                <button type="submit"><span><span></span>Checkout</span></button>
            </div>

            <div class="agent">
                <a><i></i><span>Talk to an AirFile agent</span></a>
            </div>

            <div class="wrap-check">
                <label class="label-checkbox">
                    <input type="checkbox" checked disabled>
                    <span class="wrap"><span>Send up to 30GB</span></span>
                </label>
                <label class="label-checkbox">
                    <input type="checkbox" checked disabled>
                    <span class="wrap"><span>100-200GB Cloud Storage</span></span>
                </label>
                <label class="label-checkbox">
                    <input type="checkbox" checked disabled>
                    <span class="wrap"><span>Set custom backgrounds</span></span>
                </label>
                <label class="label-checkbox">
                    <input type="checkbox" checked disabled>
                    <span class="wrap"><span>Get a personal URL</span></span>
                </label>
                <label class="label-checkbox">
                    <input type="checkbox" checked disabled>
                    <span class="wrap"><span>Your transfers never expire</span></span>
                </label>
                <label class="label-checkbox">
                    <input type="checkbox" checked disabled>
                    <span class="wrap"><span>Set passwords to transfers</span></span>
                </label>
                <label class="label-checkbox">
                    <input type="checkbox" checked disabled>
                    <span class="wrap"><span>Remove Ads</span></span>
                </label>
                <label class="label-checkbox">
                    <input type="checkbox" checked disabled>
                    <span class="wrap"><span>Multiple users</span></span>
                </label>
            </div>

            <div class="text-center">
                <button type="button" class="error" ng-click="modal.ok()">Keep using free</button>
            </div>
        </form>
    </div>
</div>