<div class="col-xs-12 col-sm-offset-2 col-sm-8">
    <div class="help box">
        <a class="main-close" ng-click="modal.cancel()"></a>

        <div class="heading-small">
            <h2><span></span>Help</h2>
        </div>

        <p class="margin">ABC</p>

        <div class="text-center">
            <a href="" class="btn-tik" ng-click="modal.ok()"></a>
        </div>
    </div>
</div>