<div class="col-xs-12 col-sm-offset-2 col-sm-8">
    <div class="transfer-mobile box">
        <div class="heading-small">
            <h2><span></span>Transfer to mobile</h2>
        </div>

        <div class="img text-center">
            <div></div>
            <p>How does it work?</p>
        </div>

        <ul>
            <li>1 - Download a QR scanner app on your mobile</li>
            <li>2 - Open the QR code scanner app</li>
            <li>3 - Point the camera on the QR code</li>
            <li>4 - Click on the download link</li>
        </ul>

        <div class="text-center">
            <a href="" class="btn-tik" ng-click="modal.ok()"></a>
        </div>
    </div>
</div>