<div class="col-xs-12 col-sm-offset-2 col-sm-8">
    <div class="add-remove box">
        <a href="#" class="main-close" ng-click="modal.cancel()"></a>

        <div class="heading-small">
            <h2><span></span>Add/Remove users</h2>
        </div>

        <p class="margin">Add users by their emails. They will receive a password.</p>

        <form action="#" name="modal.addMailForm">
            <div class="input-enter">
                <form role="form">
                    <div class="wrap new-email">
                        <input ng-model="modal.currentEmail"
                               type="email"
                               af-enter="modal.addEmail(modal.currentEmail)"
                               placeholder="New user email">
                        <span class="clickable" ng-click="modal.addEmail(modal.currentEmail)"></span>
                    </div>
                </form>

                <span class="line"></span>

                <div class="heading-small">
                    <h2 class="margin">Existing Users</h2>
                </div>
                <div ng-repeat="email in modal.emails" class="wrap delet-email">
                    <input type="text" readonly="true" ng-model="email">
                    <span class="clickable" ng-click="modal.deleteEmail(email)"></span>
                </div>
            </div>
        </form>

        <div class="text-center">
            <a href="" class="btn-tik" ng-click="modal.ok(modal.emails)"></a>
        </div>
    </div>
</div>