<div class="col-xs-12 col-sm-offset-2 col-sm-8">
    <div class="change-password box">
        <a href="#" class="main-close" ng-click="modal.cancel()"></a>

        <div class="heading-small">
            <h2><span></span>Change password</h2>
        </div>

        <form action="#">
            <div class="input-enter">
                <div class="wrap pass">
                    <input type="password" placeholder="Type your existing password">
                    <span></span>
                </div>

                <div class="wrap create-pass">
                    <input type="password" placeholder="Create new password">
                    <span></span>
                </div>

                <div class="wrap confirm-pass">
                    <input type="password" placeholder="Confirm new password">
                    <span></span>
                </div>
            </div>
        </form>

        <div class="text-center">
            <a href="" class="btn-tik" ng-click="modal.ok()"></a>
        </div>
    </div>
</div>