<div class="col-xs-12 col-sm-offset-2 col-sm-8">
    <div class="private-space box">
        <a href="#" class="main-close" ng-click="modal.cancel()"></a>

        <div class="heading-small">
            <h2><span></span>Your private space</h2>
        </div>

        <p class="margin">Attention, after you choose, you cannot change your AirFile internet address.</p>

        <form action="#">
            <div class="input-enter">
                <div class="wrap email">
                    <input type="email" placeholder="you.airfile.co">
                    <span></span>
                </div>
            </div>
        </form>

        <div class="text-center">
            <a href="" class="btn-tik" ng-click="modal.ok()"></a>
        </div>
    </div>
</div>