<div class="col-xs-12 col-sm-offset-2 col-sm-8">
    <div class="block-contact box">
        <a href="#" class="main-close" ng-click="modal.cancel()"></a>

        <div class="heading-small">
            <h2><span></span>Contact AirFile</h2>
        </div>

        <form action="#">
            <div class="input-enter">
                <div class="wrap contact">
                    <textarea placeholder="Type your message"></textarea>
                    <span><span class="icon"></span></span>
                </div>
            </div>
        </form>

        <div class="text-center">
            <a href="" class="btn-tik" ng-click="modal.ok()"></a>
        </div>
    </div>
</div>