.full-height{

  height: 100%!important;
}
.bg-airfile-white{

  height: 100%!important;
}
.button-icon-ready{
  display: inline-block;
  width: 30px;
  height: 33px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  background: #efeeec url(../img/icons-small-spritte.png) no-repeat -400px -2px!important;
}
.file-box{
  border: 1px solid #c6c6c6!important;
  padding: 20px 10px;
  background: #efeeec url(../img/bg-form.png) no-repeat center bottom 90px;
  color: #414141;
  @include border-radius(3px);
  }

.castle:focus, .castle:active{
  outline: none!important;
}
.btn-link, .btn-link:focus, .btn-link:active {
  outline: none!important;
}

