$bg_color: #eef4f5;
$h1_font: 39px/39px 'NeoSansW01', sans-serif;
$main_font: 16px/20px 'NeoSansW01', sans-serif;
$color: #4a4a4a;
$speed_clouds: 60s * 2;
$speed_clouds_large: 10s;
$speed_planes: 10s;
$dur_tran: 0.4s;
$dur_btn: 0.1s;

@mixin box-sizing() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin background-size($val) {
  -webkit-background-size: $val;
  -moz-background-size: $val;
  -ms-background-size: $val;
  -o-background-size: $val;
  background-size: $val;
}

@mixin border-radius($val) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  -ms-border-radius: $val;
  -o-border-radius: $val;
  border-radius: $val;
}

@mixin animation($val) {
  -webkit-animation: $val;
  -moz-animation: $val;
  -ms-animation: $val;
  -o-animation: $val;
  animation: $val;
}

@mixin transform-origin($val) {
  -webkit-transform-origin: $val;
  -moz-transform-origin: $val;
  -ms-transform-origin: $val;
  -o-transform-origin: $val;
  transform-origin: $val;
}

@mixin transform($val) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  -o-transform: $val;
  transform: $val;
}

@mixin transition($val) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -ms-transition: $val;
  -o-transition: $val;
  transition: $val;
}

@mixin background-size($val) {
  -webkit-background-size: $val;
  -moz-background-size: $val;
  -ms-background-size: $val;
  -o-background-size: $val;
  background-size: $val;
}

@mixin box-shadow($val) {
  -webkit-box-shadow: $val;
  -moz-box-shadow: $val;
  -ms-box-shadow: $val;
  -o-box-shadow: $val;
  box-shadow: $val;
}

@font-face {
  font-family: 'NeoSansW01';
  src: url('../fonts/NeoSansW01.eot');
  src: url('../fonts/NeoSansW01.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NeoSansW01.woff2') format('woff2'),
  url('../fonts/NeoSansW01.woff') format('woff'),
  url('../fonts/NeoSansW01.ttf') format('truetype'),
  url('../fonts/NeoSansW01.svg#NeoSansW01') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf') format('truetype'),
  url('../fonts/Roboto-Regular.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  @include box-sizing();
  list-style: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  font: $main_font;
  color: $color;
  min-width: 250px;
  background: url(../img/bg) repeat;
}

input:focus {
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}

h1.title {
  font: $h1_font;
  text-align: center;
  margin: 0 0 20px 0;
}

h1.title span {
  color: #b22c87;
}

h3.title {
  margin: 120px 0 0;
  color: #6c3ebe;
  font: 25px/25px 'NeoSansW01', sans-serif;
}

ul, ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a:focus {
  text-decoration: none;
}

.main-btn {
  position: relative;
  display: inline-block;
  color: #fff;
  width: 49.6%;
  font-size: 26px;
  padding: 15px 20px;
  background: #b22c87;
  border: none;
  @include border-radius(2px);
  @include transition(background $dur_btn linear);
  &:hover {
    background: #d52c9f;
  }
}

.main-btn.white {
  background: transparent;
  color: #4a4a4a;
  @include transition(background $dur_tran linear);
  &:hover {
    background: #efeeec;
  }
}

.main-btn.white::after {
  background-position: right top;
}

.main-btn.white::before {
  background: none;
}

.main-btn::before {
  content: '';
  width: 21px;
  height: 31px;
  margin-top: -15.5px;
  display: block;
  background: url(../img/ico-medal.png) no-repeat left top;
  position: absolute;
  top: 50%;
  left: 20px;
}

.main-btn::after {
  content: '';
  width: 10px;
  height: 16px;
  margin-top: -8px;
  display: block;
  background: url(../img/ico-arrow.png) no-repeat left top;
  position: absolute;
  right: 20px;
  top: 50%;
}

.main-btn:focus {
  outline: none;
}
.clickable, .clickable > *{
cursor: pointer;
}
.main-btn:hover {
  text-decoration: none;
}
.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 25px;

}
.label-checkbox {
  margin: 0;
  display: block;
  font-weight: normal;

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] + span.wrap:before {
    content: '';
    display: inline-block;
    width: 21px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 4px;
    background: url(../img/ico-checkbox.png) no-repeat right top;
  }

  input[type=checkbox]:checked + span.wrap:before {
    content: '';
    display: inline-block;
    width: 21px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 4px;
    background: url(../img/ico-checkbox.png) no-repeat left top;
  }
}

.label-checkbox + .label-checkbox {
  margin-top: 15px;
}

.container {
  width: 100%;
}

.bg-cloud {
  background: url(../img/bg.png) repeat;
}

.bg-airfile {
  //background: url(../img/bg-airfile.png) repeat;
  background: url(../img/bg.png) repeat;
}
.bg-airfile-white {
  background: url(../img/bg-airfile.png) repeat!important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.invisible {
  visibility: hidden;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
  display: none !important;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* ---------------------------------------------------------------------
+ PAGE INDEX
---------------------------------------------------------------------- */
#index {
  height: 100%;

  /* clouds */
  .clouds {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;

    .cloud-top-left,
    .cloud-top-right,
    .cloud-bottom-left,
    .cloud-bottom-right {
      position: relative;
    }

    .cloud-top-left img,
    .cloud-top-right img,
    .cloud-bottom-left img,
    .cloud-bottom-right {
      width: 100%;
      opacity: 0.3;
    }

    // cloud - 1
    .cloud-top-left {
      position: absolute;
      top: 7%;
      left: 5%;
      width: 30%;
    }
    // cloud - 2
    .cloud-top-right {
      position: absolute;
      top: 3%;
      left: 65%;
      width: 23%;
    }
    // cloud - 3
    .cloud-bottom-left {
      position: absolute;
      top: 55%;
      left: 20%;
      width: 18%;
    }
    // cloud - 4
    .cloud-bottom-right {
      position: absolute;
      top: 50%;
      left: 75%;
      width: 23%;
    }
  }
  /* // clouds */

  /* air */
  #air {
    padding-top: 290px;
    padding-bottom: 150px;

    .wrap-checkbox {
      position: relative;
      display: inline-block;
      padding: 30px;
      border: 2.5px solid #7055b2;
      text-align: left;
      margin-right: 115px;
      z-index: 5;

      .plane-1, .plane-2, .plane-3, .plane-4, .plane-5, .plane-6,
      .plane-7, .plane-8, .plane-9, .plane-10, .plane-11, .plane-12 {
        position: absolute;
        left: 50%;
        z-index: 1;
      }

      .plane-1 {
        width: 112px;
        height: 286px;
        top: -259px;
        background: url(../img/plane-1.png) no-repeat;

        @include animation(anim-plane-1 5s linear infinite alternate);
        @include transform-origin(center bottom);

        @keyframes anim-plane-1 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-webkit-keyframes anim-plane-1 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-moz-keyframes anim-plane-1 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-ms-keyframes anim-plane-1 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-o-keyframes anim-plane-1 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
      }

      .plane-2 {
        width: 104px;
        height: 220px;
        margin-left: -1px;
        top: -203px;
        background: url(../img/plane-2.png) no-repeat;

        @include animation(anim-plane-2 4.5s linear infinite alternate);
        @include transform-origin(center bottom);

        @keyframes anim-plane-2 {
          0% {
            @include transform(rotate(2deg));
          }
          100% {
            @include transform(rotate(-2deg));
          }
        }
        @-webkit-keyframes anim-plane-2 {
          0% {
            @include transform(rotate(2deg));
          }
          100% {
            @include transform(rotate(-2deg));
          }
        }
        @-moz-keyframes anim-plane-2 {
          0% {
            @include transform(rotate(2deg));
          }
          100% {
            @include transform(rotate(-2deg));
          }
        }
        @-ms-keyframes anim-plane-2 {
          0% {
            @include transform(rotate(2deg));
          }
          100% {
            @include transform(rotate(-2deg));
          }
        }
        @-o-keyframes anim-plane-2 {
          0% {
            @include transform(rotate(2deg));
          }
          100% {
            @include transform(rotate(-2deg));
          }
        }
      }
      .plane-3 {
        width: 52px;
        height: 243px;
        margin-left: -1px;
        top: -229px;
        background: url(../img/plane-3.png) no-repeat;

        @include animation(anim-plane-3 4.5s linear infinite alternate);
        @include transform-origin(center bottom);

        @keyframes anim-plane-3 {
          0% {
            @include transform(rotate(2deg));
          }
          100% {
            @include transform(rotate(-2deg));
          }
        }
        @-webkit-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(2deg));
          }
          100% {
            @include transform(rotate(-2deg));
          }
        }
        @-moz-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(2deg));
          }
          100% {
            @include transform(rotate(-2deg));
          }
        }
        @-ms-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(2deg));
          }
          100% {
            @include transform(rotate(-2deg));
          }
        }
        @-o-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(2deg));
          }
          100% {
            @include transform(rotate(-2deg));
          }
        }
      }
      .plane-4 {
        width: 43px;
        height: 186px;
        margin-left: -2px;
        top: -170px;
        background: url(../img/plane-4.png) no-repeat;

        @include animation(anim-plane-3 5s linear infinite alternate);
        @include transform-origin(center bottom);

        @keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-webkit-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-moz-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-ms-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-o-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
      }
      .plane-5 {
        width: 91px;
        height: 166px;
        margin-left: 0px;
        top: -148px;
        background: url(../img/plane-5.png) no-repeat;

        @include animation(anim-plane-3 4s linear infinite alternate);
        @include transform-origin(center bottom);

        @keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-webkit-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-moz-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-ms-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-o-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
      }
      .plane-6 {
        width: 71px;
        height: 95px;
        margin-left: 0px;
        top: -78px;
        background: url(../img/plane-6.png) no-repeat;

        @include animation(anim-plane-3 4.5s linear infinite alternate);
        @include transform-origin(center bottom);

        @keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-webkit-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-moz-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-ms-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-o-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
      }
      .plane-7 {
        width: 43px;
        height: 130px;
        margin-left: -8px;
        top: -113px;
        background: url(../img/plane-7.png) no-repeat;

        @include animation(anim-plane-3 4.5s linear infinite alternate);
        @include transform-origin(center bottom);

        @keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-webkit-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-moz-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-ms-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-o-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
      }
      .plane-8 {
        width: 59px;
        height: 210px;
        margin-left: -52px;
        top: -193px;
        background: url(../img/plane-8.png) no-repeat;

        @include animation(anim-plane-3 5s linear infinite alternate);
        @include transform-origin(center bottom);

        @keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-webkit-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-moz-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-ms-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-o-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
      }
      .plane-9 {
        width: 59px;
        height: 157px;
        margin-left: -53px;
        top: -140px;
        background: url(../img/plane-9.png) no-repeat;

        @include animation(anim-plane-3 4s linear infinite alternate);
        @include transform-origin(center bottom);

        @keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-webkit-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-moz-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-ms-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-o-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
      }
      .plane-10 {
        width: 64px;
        height: 99px;
        margin-left: -58px;
        top: -81px;
        z-index: 2;
        background: url(../img/plane-10.png) no-repeat;

        @include animation(anim-plane-3 3s linear infinite alternate);
        @include transform-origin(center bottom);

        @keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-webkit-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-moz-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-ms-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-o-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
      }
      .plane-11 {
        width: 114px;
        height: 177px;
        margin-left: -107px;
        top: -158px;
        background: url(../img/plane-11.png) no-repeat;

        @include animation(anim-plane-3 4s linear infinite alternate);
        @include transform-origin(center bottom);

        @keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-webkit-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-moz-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-ms-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
        @-o-keyframes anim-plane-3 {
          0% {
            @include transform(rotate(3deg));
          }
          100% {
            @include transform(rotate(-3deg));
          }
        }
      }

      @include border-radius(5px);
    }

    .wrap-checkbox.plane::before {
      content: '';
      display: block;
      width: 127px;
      height: 165px;
      background: url(../img/plane.png);
      position: absolute;
      top: -165px;
      left: 50%;
      margin-left: -63.5px;
      z-index: 1;

      @include animation(anim-plane $speed_planes infinite linear alternate);
      @include transform-origin(center bottom);
      @keyframes anim-plane {
        0% {
          @include transform(rotate(0deg));
        }
        50% {
          @include transform(rotate(5deg));
        }
        100% {
          @include transform(rotate(-5deg));
        }
      }
      @-webkit-keyframes anim-plane {
        0% {
          @include transform(rotate(0deg));
        }
        50% {
          @include transform(rotate(5deg));
        }
        100% {
          @include transform(rotate(-5deg));
        }
      }
      @-moz-keyframes anim-plane {
        0% {
          @include transform(rotate(0deg));
        }
        50% {
          @include transform(rotate(5deg));
        }
        100% {
          @include transform(rotate(-5deg));
        }
      }
      @-ms-keyframes anim-plane {
        0% {
          @include transform(rotate(0deg));
        }
        50% {
          @include transform(rotate(5deg));
        }
        100% {
          @include transform(rotate(-5deg));
        }
      }
      @-o-keyframes anim-plane {
        0% {
          @include transform(rotate(0deg));
        }
        50% {
          @include transform(rotate(5deg));
        }
        100% {
          @include transform(rotate(-5deg));
        }
      }
    }
    .wrap-checkbox.plane {
      @include transition(border $dur_tran linear);
    }
    .wrap-checkbox.plane:hover {
      border-color: #b3a9d5;
    }

    p.descr {
      margin: 25px 0 50px 0;
      font-size: 19px;
    }

    .wrap-checkbox.border-color {
      border-color: #b3a9d5;
      margin-right: 85px;
      @include transition(border $dur_tran linear);
      &:hover {
        border-color: #7055b2;
      }
    }
  }
  /* air */
}

@media only screen and (max-width: 1250px) {
  .wrap-checkbox.border-color {
    margin-right: 0 !important;
  }
  .wrap-checkbox.plane {
    margin-right: 30px !important;
  }
  .main-btn {
    margin-bottom: 10px !important;
  }
}

@media only screen and (max-width: 970px) {
  #index #air {
    padding-bottom: 50px;
  }
  h3.title {
    margin: 30px 0 0;
  }
  #air {
    padding-top: 0px !important;
  }
  .col-xs-7.left-block,
  .col-xs-5.right-block {
    width: 100%;
    float: none;
  }
  .col-xs-5.right-block {
    text-align: center;
  }

  .wrap-checkbox.plane,
  .wrap-checkbox.border-color {
    width: 60% !important;
    display: block !important;
    margin: 0 auto !important;
  }

  .wrap-checkbox.border-color:not(.top-landing-box) {
    margin-top: 280px !important;
  }
  .wrap-checkbox.border-color.top-landing-box {
    margin-top: 180px !important;
  }
}

@media only screen and (max-width: 550px) {
  .wrap-checkbox.plane,
  .wrap-checkbox.border-color {
    width: 100% !important;
  }
  .main-btn {
    width: 100%;
  }
}

/* ---------------------------------------------------------------------
+ MENU
---------------------------------------------------------------------- */
#menu {
  position: fixed;
  top: 0;
  right: -5px;
  width: 0;
  height: 100%;
  background: #fff;
  z-index: 5;
  padding-top: 65px;
  border-left: 4px solid #4d317d;

  ul li {
    opacity: 0;
    border-bottom: 1px solid #e6e6e6;

    &.transfer a span {
      background: url(../img/icons-large-sprite.png) no-repeat -26px -20px;
    }
    &.transfer:hover a span {
      background: url(../img/icons-large-sprite.png) no-repeat -26px -110px;
    }
    &.history a span {
      background: url(../img/icons-large-sprite.png) no-repeat -118px -20px;
    }
    &.history:hover a span {
      background: url(../img/icons-large-sprite.png) no-repeat -118px -110px;
    }
    &.log a span {
      background: url(../img/icons-large-sprite.png) no-repeat -208px -20px;
    }
    &.log:hover a span {
      background: url(../img/icons-large-sprite.png) no-repeat -208px -110px;
    }
    &.get a span {
      background: url(../img/icons-large-sprite.png) no-repeat -300px -20px;
    }
    &.get:hover a span {
      background: url(../img/icons-large-sprite.png) no-repeat -300px -110px;
    }
  }

  ul li a {
    display: block;
    background: #fff;
    padding: 20px 25px 20px 25px;
    font-size: 21px;
    color: #502e8b;
    @include transition(all $dur_tran linear);

    span {
      @include transition(all $dur_tran linear);
      vertical-align: middle;
      display: inline-block;
      margin-right: 10px;
      height: 50px;
      width: 45px;
    }
    &:hover {
      color: #7055b2;
      text-decoration: none;
    }
  }

  .input-enter {
    padding: 15px 10px;
    position: relative;

    & .spinner {
      margin-top: 0;
      position: absolute;
      top: 24px;
      left: 60px;
    }
  }
}

/* ---------------------------------------------------------------------
+ PAGE TAB HISTORY
---------------------------------------------------------------------- */
/* header */
.header {
  position: relative;
  z-index: 7;
  height: 70px;
  border-top: 5px solid #60429f;
  background: #502e8b;

  .touch-menu {
    position: absolute;
    top: 13px;
    right: 15px;
    width: 34px;
    height: 34px;
    display: display;
    background: url(../img/bg-menu.png) no-repeat center;
  }

  .menu-history {
    max-width: 215px;
    width: 100%;
    display: none;
    position: absolute;
    right: 15px;
    top: 99%;
    z-index: 3;
    background: #502e8b;

    .tabs-control-link.transfer {
      margin-top: 12px;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b187a+0,502e8b+30,502e8b+100 */
      background: #3b187a !important; /* Old browsers */
      background: -moz-linear-gradient(top, #3b187a 0%, #502e8b 30%, #502e8b 100%) !important; /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #3b187a 0%, #502e8b 30%, #502e8b 100%) !important; /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #3b187a 0%, #502e8b 30%, #502e8b 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    }
    .tabs-control-link {
      display: block !important;
      width: 100%;
      height: 35px;
      top: 0;
      line-height: 35px;
      color: #b3a4d6 !important;
      margin: 0;
      background: none !important;
      border-bottom: 2px solid #3b197a;

      i {
        color: #200c44;
        left: 25px;
      }
    }
    .tabs-control-link.get i {
      width: 17px;
      height: 25px;
      top: 13px;
      background: url(../img/bg-get-pro.png) no-repeat left center;
    }
    .tabs-control-link.get:hover i {
      background-position: right center;
    }
    .tabs-control-link:hover i {
      color: #c6bbe0 !important;
    }
    .header .tabs-control-link.history {
      color: #b3a4d6;
    }
    .tabs-control-link:hover {
      background: #7055b2 !important;
      color: #fff !important;
    }
  }

  .tabs-control-link {
    position: relative;
    display: inline-block;
    width: 155px;
    height: 45px;
    @include border-radius(4px 4px 0 0);
    background: #7055b2;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 45px;
    margin: 15px 2px 0 2px;
    @include transition(background $dur_tran linear);

    &:hover,
    &.active {
      text-decoration: none;
      background: #fff;
      color: #836cbc;
    }

    i {
      position: absolute;
      left: 15px;
      top: 50%;
      margin-top: -10px;
      font-size: 20px;
      color: #502e8b;
    }
  }

  .bottom-h {
    height: 5px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

}

/* // header */

.space {
  background: #efeeec;
  border-top: 1px solid #dbd9d7;
  border-bottom: 3px solid #4d317d;
  padding: 10px 0;
  color: #434343;
  text-align: left;

  p {
    display: inline-block;
    padding: 0 15px;

    span.circle {
      width: 30px;
      height: 30px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      background: url(../img/icons-small-spritte.png) no-repeat -109px -5px;
    }
  }

  &.page-account {
    span {
      height: 27px;
      background: url(../img/icons-small-spritte.png) no-repeat -416px -41px;
    }
  }
}

.box {
  border: 2.5px solid #704bb0;
  padding: 20px 10px;
  background: #efeeec url(../img/bg-form.png) no-repeat center bottom 90px;
  color: #414141;
  @include border-radius(3px);

  &.no-border {
    border: none;
  }

  .heading {
    color: #414141;
    text-align: center;
    margin: 0 0 20px 0;
    h1 {
      font-size: 26.5px;
      margin: 0;
      display: inline-block;
      span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }

  .heading-small {
    text-align: center;
    h2 {
      margin: 0 0 15px 0;
      display: inline-block;
      color: #414141;
      font-size: 14.4px;
      span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }

  .agent {
    color: #502e8b;
    text-align: center;
    margin: 20px 0;
    cursor: pointer;

    a i {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      width: 42px;
      height: 42px;
      background: #fff url(../img/bg-headphones.png) no-repeat center top;
      @include border-radius(50%);
      @include transition(background $dur_tran linear);
    }
    a:hover i {
      background-position: center -42px;
    }
    a:hover {
      color: #7055b2;
    }

    a span {
      margin-top: 10px;
      color: #502e8b;
      font-size: 19px !important;
      display: inline-block;
    }
  }

  .error {
    margin-top: 20px;
    text-align: center;
    color: #adadad;
    font-size: 19.5px;
    height: 33px;
    line-height: 33px;
    padding-left: 45px;
    display: inline-block;
    border: none;
    background: url(../img/bg-error.png) no-repeat left top;
    @include transition(all $dur_tran linear);
    &:hover {
      background-position: left -33px;
      color: #000;
    }
  }

  .img {
    p {
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 19.4px;
    }

    //div {
    //  background: url(../img/transfer-mobile.png) no-repeat center top;
    //  min-height: 155px;
    //}
  }

  ul li {
    div.bottom {
      margin: 5px -10px -10px -10px;

      font-size: 16px;
      background: #fff;
      padding: 5px 10px;
      color: #3e3e3e;

      @include transition(all 1s linear);

      &.ng-hide-remove,
      &.ng-hide-add.ng-hide-add-active {
        height: 0;
        opacity: 0;
        display: block !important;
      }

      &.ng-hide-add,
      &.ng-hide-remove.ng-hide-remove-active {
        height: 35px;
        opacity: 1;
        display: block !important;
      }

      .btn-icon {
        display: inline-block;
        vertical-align: middle;
        i {
          font-size: 20px;
          color: #502e8b;
        }
        &:hover i {
          color: #7055b2;
        }
      }
      .btn-icon + .btn-icon {
        margin-left: 20px;
      }
      .btn-icon.btn-phone i {
        font-size: 25px;
      }
      .btn-icon.btn-ic i {
        display: inline-block;
        width: 15px;
        height: 17px;
        top: 2px;
        position: relative;
        background: url(../img/ico-sprite.png) no-repeat 0 0;
      }
      .btn-icon.btn-ic:hover i {
        background: url(../img/ico-sprite.png) no-repeat -17px 0;
      }
    }

    font-size: 14px;
    margin: 5px 0;
  }

  .btn-tik {
    display: inline-block;
    width: 125px;
    height: 45px;
    border-left: 1px solid #70559f;
    border-right: 1px solid #70559f;
    background: #502e8b url(../img/bg-tick.png) no-repeat center;
    margin-top: 10px;
    @include transition(background $dur_btn linear);
    &:hover {
      background: #6B37AB url(../img/bg-tick.png) no-repeat center;
    }
  }

  .social-wrapper {
    position: relative;
    & div.spinner {
      margin-top: 0px;
      position: absolute;
      top: 25px;
      left: 130px;
    }
  }

  .social {
    text-align: center;
    margin: 15px 0 5px 0;
    .ico-social {
      display: inline-block;
      width: 65px;
      height: 64px;
      @include border-radius(50%);
      margin: 0 6px;
      @include transition(background $dur_tran linear);
      background-color: #fff;
    }

    a.ico-social.fb {
      background-image: url(../img/ico-social-sprite.png);
      background-repeat: no-repeat;
      background-position: -1px -1px;
    }
    a.ico-social.tw {
      background-image: url(../img/ico-social-sprite.png);
      background-repeat: no-repeat;
      background-position: -65px -1px;
    }
    a.ico-social.in {
      background-image: url(../img/ico-social-sprite.png);
      background-repeat: no-repeat;
      background-position: -130px -1px;
    }
    a.ico-social.gl {
      background-image: url(../img/ico-social-sprite.png);
      background-repeat: no-repeat;
      background-position: -195px -1px;
    }

    a.ico-social.fb:hover {
      background-image: url(../img/ico-social-sprite.png);
      background-repeat: no-repeat;
      background-position: -1px -66px;
    }
    a.ico-social.tw:hover {
      background-image: url(../img/ico-social-sprite.png);
      background-repeat: no-repeat;
      background-position: -66px -66px;
    }
    a.ico-social.in:hover {
      background-image: url(../img/ico-social-sprite.png);
      background-repeat: no-repeat;
      background-position: -131px -66px;
    }
    a.ico-social.gl:hover {
      background-image: url(../img/ico-social-sprite.png);
      background-repeat: no-repeat;
      background-position: -197px -66px;
    }
  }

  /* transfer mobile */
  .transfer-mobile {
    position: relative;

    & div.spinner {
      position: absolute;
      top: 90px;
      left: 130px;
      margin-top: 0;
    }

    .heading-small {
      h2 span {
        width: 16px;
        height: 27px;
        background: url(../img/icons-small-spritte.png) no-repeat -201px -6px;
      }
    }
  }

  p.margin {
    margin: 30px 0;
  }
}

#airfile {
  .wrap-check {
    max-width: 70%;
    margin: 0 auto;
  }

  /* tabs cont */
  .tabs-cont {
    .container {
      max-width: 800px;
      margin: 0;
    }

    .tab-item {
      &.active {
        display: block;
      }

      /* list file */
      .list-file {
        margin-top: 10px;

        ul {
          border: 1px solid #c6c6c6;
          background: #efeeec;

          li {
            padding: 7px 10px;
            border-bottom: 1px solid #c6c6c6!important;
            @include transition(background 0.3s linear);
            &:nth-last-child(2) {
              border-bottom: 0;
            }
            &:last-child {
              border-bottom: 0;
            }
            &:hover {
              background: #fff;
            }

            .left {
              color: #666;
            }
            .left > span.fileType {
              width: 18px;
              height: 22px;
              display: inline-block;
              vertical-align: middle;
              padding-left: 30px;
              background: url(../img/icons-small-spritte.png) no-repeat -139px -7px;
            }

            .right {
              color: #3e3e3e;
            }

            .btn {
            }
          }

          div.bottom {
            margin: 5px -10px -10px -10px;

            font-size: 16px;
            background: #fff;
            padding: 5px 10px;
            color: #3e3e3e;

            @include transition(all 1s linear);

            &.ng-hide-remove,
            &.ng-hide-add.ng-hide-add-active {
              height: 0;
              opacity: 0;
              display: block !important;
            }

            &.ng-hide-add,
            &.ng-hide-remove.ng-hide-remove-active {
              height: 35px;
              opacity: 1;
              display: block !important;
            }

            .btn-icon {
              display: inline-block;
              vertical-align: middle;
              i {
                font-size: 20px;
                color: #502e8b;
              }
              &:hover i {
                color: #7055b2;
              }
            }
            .btn-icon + .btn-icon {
              margin-left: 20px;
            }
            .btn-icon.btn-phone i {
              font-size: 25px;
            }
            .btn-icon.btn-ic i {
              display: inline-block;
              width: 15px;
              height: 17px;
              top: 2px;
              position: relative;
              background: url(../img/ico-sprite.png) no-repeat 0 0;
            }
            .btn-icon.btn-ic:hover i {
              background: url(../img/ico-sprite.png) no-repeat -17px 0;
            }
          }
        }
      }

      /* no file */
      .no-file {
        display: inline-block;
        width: 160px;
        height: 40px;
        line-height: 40px;
        background: #e0e0e0;
        color: #3e3e3e;
        @include border-radius(4px);
        margin: 20px 0;
        border: none;
        cursor: pointer;
        @include transition(background 0.3s linear);
      }

      .start-transfer {
        display: inline-block;
        margin-bottom: 35px;
        span {
          width: 23px;
          height: 23px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
          background: url(../img/icons-small-spritte.png) no-repeat -281px -7px;
        }
      }
    }
  }
  /* // tabs cont */
}

/* air file pro */
.modal-dialog {
  .modal-content {
    background-color: transparent;

    .air-file-pro {
      .label-checkbox {
        @media only screen and (min-width: 400px) {
          padding-left: 40px;
        }
      }

      .heading h1 span {
        position: relative;
        top: -4px;
        width: 26px;
        height: 39px;
        background: url(../img/bg-air-file.png) no-repeat;
      }
    }

    /* gift */
    .gift {
      .heading.violet {
        color: #b22c87;
        margin: 40px 0;
      }
      margin-top: 5px;
      .heading h1 span {
        position: relative;
        top: -4px;
        width: 35px;
        height: 35px;
        background: url(../img/bg-heading-gift.png) no-repeat;
      }
      .heading.heart {
        margin-top: 30px;
      }
      .heading.heart h1 span {
        position: relative;
        top: -4px;
        width: 37px;
        height: 33px;
        background: url(../img/bg-heart-gift.png) no-repeat;
      }

      background-position: center bottom 10px;
    }

    .set-background,
    .payment-problem,
    .transfer-complete {
      background-position: center top;
      @include border-radius(10px);

      .start-transfer {
        margin-bottom: 15px;
      }
    }

    /* send files */
    .set-background {
      position: relative;
      .close {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 10px;
        top: 10px;
        background: url(../img/icons-small-spritte.png) no-repeat -1047px -7px;
        opacity: 1;
        @include transition(background $dur_tran linear);
        &:hover {
          background: url(../img/icons-small-spritte.png) no-repeat -1047px -42px;
        }
      }

      .heading-small {
        h2 {
          span {
            width: 25px;
            height: 25px;
            display: inline-block;
            vertical-align: middle;
            background: url(../img/icons-small-spritte.png) no-repeat -908px -7px;
          }
        }
      }

      form {
        margin-bottom: 15px;
      }
    }

    /* existings users */
    .existings-users {
      background-position: center center;
      position: relative;
      margin-top: 40px;

      .heading-small h2 {
        span {
          background: url(../img/icons-small-spritte.png) no-repeat -5px -10px;
          width: 20px;
          height: 20px;
        }
      }

      .line {
        display: block;
        height: 1px;
        background: #c6c6c6;
        margin-right: -10px;
        margin-left: -10px;
      }

      .clearfix {
        margin: 15px 0;
      }

      a.blue {
        color: #502e8b;
        vertical-align: middle;
      }

      .medal {
        text-align: center;
        .ico {
          display: inline-block;
          width: 27px;
          height: 40px;
          margin-right: 10px;
          vertical-align: middle;

          background: url(../img/bg-air-file.png) no-repeat 0 0;
        }

        a.blue {
          font-size: 20px;
        }
      }

      .btn-tik {
        margin-top: 25px;
      }
    }
    /* // existings users */

    /* delete */
    .delete {
      margin-top: 40px;
      .heading-small {
        h2 span {
          width: 17px;
          height: 22px;
          background: url(../img/icons-small-spritte.png) no-repeat -171px -8px;
        }
      }

      .ico-delete {
        text-align: center;
        .ico-del {
          width: 73px;
          height: 73px;
          margin: 0 22.5px;
          display: inline-block;
          @include border-radius(50%);
        }

        a.ico-del.tank {
          background: #fff url(../img/ico-delete-sprite.png) no-repeat 0 0;
        }
        a.ico-del.clos {
          background: #fff url(../img/ico-delete-sprite.png) no-repeat -72.5px 0;
        }

        a.ico-del.tank:hover {
          background: #fff url(../img/ico-delete-sprite.png) no-repeat 0 -73px;
        }
        a.ico-del.clos:hover {
          background: #fff url(../img/ico-delete-sprite.png) no-repeat -72.5px -73px;
        }
      }

      background-image: none;
    }

    /* sharing options */
    .sharing-options {
      margin-top: 5px;
      .heading-small {
        h2 span {
          width: 20px;
          height: 22px;
          background: url(../img/icons-small-spritte.png) no-repeat -228px -9px;
        }
      }

      background-position: center bottom -30px;
    }

    /* transfer mobile */
    .transfer-mobile {
      .heading-small {
        h2 span {
          width: 16px;
          height: 27px;
          background: url(../img/icons-small-spritte.png) no-repeat -201px -6px;
        }
      }
    }

    /* help */
    .help {
      background-position: center center;
      position: relative;
      margin-top: 40px;
      p.margin {
        margin-top: 0;
      }

      .heading-small h2 {
        span {
          background: url(../img/icons-small-spritte.png) no-repeat -478px -3px;
          width: 27px;
          height: 28px;
        }
      }

      .btn-tik {
        margin-top: 25px;
      }
    }
    /* // help */

    /* forgot password  */
    .forgot-password {
      background-position: center center;
      position: relative;
      margin-top: 40px;
      p.margin {
        margin-bottom: 0;
      }

      .heading-small h2 {
        span {
          background: url(../img/icons-small-spritte.png) no-repeat -556px -9px;
          width: 20px;
          height: 20px;
        }
      }

      .btn-tik {
        margin-top: 25px;
      }
    }
    /* // forgot password  */

    /* password sent  */
    .password-sent {
      background-position: center center;
      position: relative;
      margin-top: 40px;
      p.margin {
        margin-bottom: 0;
      }
      p.margin {
        margin-top: 0;
      }

      .heading-small h2 {
        span {
          background: url(../img/icons-small-spritte.png) no-repeat -556px -9px;
          width: 20px;
          height: 20px;
        }
      }

      .btn-tik {
        margin-top: 25px;
      }
    }
    /* // password sent  */

    /* get link */
    .get-link {
      .heading-small {
        h2 {
          span {
            width: 25px;
            height: 25px;
            display: inline-block;
            vertical-align: middle;
            background: url(../img/icons-small-spritte.png) no-repeat -1081px -7px;
          }
        }
      }

      form {
        margin-bottom: 15px;
      }

      form .input-enter .wrap > div, div .input-enter .wrap > div {
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        padding: 0 15px;
        background: #EFEEEC;
        border-left: 1px solid #c6c6c6;
        @include transition(background $dur_tran linear);
      }

      form .input-enter .wrap.bakcground div > i, div .input-enter .wrap.bakcground div > i {
        display: inline-block;
        width: 30px;
        height: 33px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -1112px -2px;
        @include transition(background $dur_tran linear);
      }
      form .input-enter .wrap.bakcground input:focus + div i, div .input-enter .wrap.bakcground input:focus + div i {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -1112px -37px;
      }
    }
    /* // get link */

    /* change password */
    .change-password {
      background-position: center center;
      position: relative;
      margin-top: 40px;

      .heading-small h2 {
        span {
          background: url(../img/icons-small-spritte.png) no-repeat -555px -10px;
          width: 20px;
          height: 20px;
        }
      }

      .btn-tik {
        margin-top: 25px;
      }
    }
    /* // change password */

    /* add/remove */
    .add-remove {
      background-position: center center;
      margin-top: 40px;
      position: relative;

      .heading-small h2 {
        span {
          background: url(../img/icons-small-spritte.png) no-repeat -701px -45px;
          width: 20px;
          height: 20px;
        }
      }

      .heading-small h2.margin {
        margin: 15px 0;
      }

      p.margin {
        margin: 5px 0 20px 0;
      }

      .line {
        display: block;
        height: 1px;
        background: #c6c6c6;
        margin-right: -10px;
        margin-left: -10px;
      }

      form .new-email {
        margin-bottom: 25px;
      }

      .btn-tik {
        margin-top: 25px;
      }
    }
    /* // add/remove */

    /* private space */
    .private-space {
      background-position: center center;
      position: relative;
      margin-top: 40px;

      .heading-small h2 {
        span {
          background: url(../img/icons-small-spritte.png) no-repeat -875px -45px;
          width: 20px;
          height: 20px;
        }
      }

      p.margin {
        margin: 5px 0 20px 0;
      }

      .btn-tik {
        margin-top: 25px;
      }
    }
    /* // private space */

    /* block contact */
    .block-contact {
      background-position: center center;
      position: relative;

      .heading-small h2 {
        span {
          background: url(../img/icons-sprite-input.png) no-repeat -7px -12px;
          width: 25px;
          height: 18px;
        }
      }

      .btn-tik {
        margin-top: 25px;
      }
    }
    /* // block contact */
  }
}

form {
  .received-instructions {
    padding: 20px 15px 0px 15px;
  }

  .download-files {
    margin: 10px 0px -10px;
    width: 100%;
    display: block;
    height: 45px;
    background: #79c567 url(../img/ico-white-arrow.png) no-repeat right 12px center !important;
    color: #fff;
    border-right: 1px solid #c6c6c6;
    border-left: 1px solid #c6c6c6;
    border-top: 1px solid #c6c6c6;
    border-bottom: none;
    @include transition(background $dur_btn linear);
    span > span {
      width: 32px;
      height: 23px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      background: url(../img/icons-small-spritte.png) no-repeat -249px -7px;
      background-color: white;
    }
    &:hover {
      background: #8add77 url(../img/ico-white-arrow.png) no-repeat right 12px center !important;
    }
  }

  .input-enter {
    .wrap {
      position: relative;

      > input, .view-select {
        border: 1px solid #c6c6c6;
        padding: 0 45px 0 10px;
        width: 100%;
        color: #666 !important;
        display: block;
        margin-top: -1px !important;
        height: 35px;
        line-height: 35px;
        background: #fff;
        overflow: hidden;
      }

      input::-webkit-input-placeholder {
        color: #666;
      }
      input::-moz-placeholder {
        color: #666;
      }
      /* Firefox 19+ */
      input:-moz-placeholder {
        color: #666;
      }
      /* Firefox 18- */
      input:-ms-input-placeholder {
        color: #666;
      }

      textarea::-webkit-textarea-placeholder {
        color: #666;
      }
      textarea::-moz-placeholder {
        color: #666;
      }
      /* Firefox 19+ */
      textarea:-moz-placeholder {
        color: #666;
      }
      /* Firefox 18- */
      textarea:-ms-input-placeholder {
        color: #666;
      }

      textarea {
        @extend input;
        height: 70px;
        resize: none;
      }
      textarea:focus {
        outline: none;
      }

      .view-select {
        cursor: pointer;
        &:hover {
          text-decoration: none;
        }
      }

       > span, > span.icon {
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        width: 35px;
        border-left: 1px solid #c6c6c6;
        @include transition(background $dur_tran linear);
        background-color: #efeeec;
      }

      span.icon {
        width: 15px;
        height: 15px;
        top: 12px;
        left: 50%;
        margin-left: -8px;
      }

      &.email span {
        background: #efeeec url(../img/icons-sprite-input.png) no-repeat -4px -4px;
      }
      &.email input:focus + span {
        background: #efeeec url(../img/icons-sprite-input.png) no-repeat -4px -44px;
      }
      &.select span {
        background: #efeeec url(../img/icons-sprite-input.png) no-repeat -43px -4px;
      }
      &.select a:focus + span {
        background: #efeeec url(../img/icons-sprite-input.png) no-repeat -43px -44px;
      }
      &.link span {
        background: #efeeec url(../img/icons-sprite-input.png) no-repeat -84px -4px;
      }
      &.link input:focus + span {
        background: #efeeec url(../img/icons-sprite-input.png) no-repeat -84px -44px;
      }
      &.url span {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -513px -1px;
      }
      &.url input:focus + span {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -513px -38px;
      }
      &.addfiles span {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -587px 0px;
      }
      &.addfiles input:focus + span {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -587px -37px;
      }

      &.new-transfer span {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -50px -2px;
        cursor: pointer;
      }
      &.new-transfer input:focus + span {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -50px -2px;
        cursor: pointer;
      }

      &.new-transfer i {
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        width: 35px;
        border-left: 1px solid #c6c6c6;
        @include transition(background $dur_tran linear);
        padding-top: 9px;
        padding-left: 5px;
        background-color: #efeeec;
      }

      &.new-transfer i {
        color: #6B37AB;
      }
      &.new-transfer input:focus + i {
        color: #7055B2;
      }

      &.people {
        @include transition(height 0.5s linear);
      }

      &.people.ng-hide-remove,
      &.people.ng-hide-add.ng-hide-add-active {
        height: 0;
        display: block !important;
      }

      &.people.ng-hide-add,
      &.people.ng-hide-remove.ng-hide-remove-active {
        height: 35px;
        display: block !important;
      }

      &.people > span:last-of-type {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -657px 0px;
      }
      &.people input:focus + > span:last-of-type {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -657px -37px;
      }

      &.pass {
        @include transition(height 0.3s linear);
      }

      &.pass.ng-hide-remove,
      &.pass.ng-hide-add.ng-hide-add-active {
        height: 0;
        display: block !important;
      }

      &.pass.ng-hide-add,
      &.pass.ng-hide-remove.ng-hide-remove-active {
        height: 35px;
        display: block !important;
      }
      &.pass span {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -550px -3px;
      }
      &.pass input:focus + span {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -550px -39px;
      }

      &.message {
        @include transition(height 0.3s linear);
        //@include transition(opacity 0.5s linear);
      }

      &.message.ng-hide-remove,
      &.message.ng-hide-add.ng-hide-add-active {
        //opacity: 0;
        height: 0;
        display: block !important;
      }

      &.message.ng-hide-add,
      &.message.ng-hide-remove.ng-hide-remove-active {
        //opacity: 1;
        height: 35px;
        display: block !important;
      }
      &.message span {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -623px 0px;
        cursor: pointer;
      }
      &.message input:focus + span {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -623px -37px;
        cursor: pointer;
      }
      &.back span {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -1008px -2px;
        cursor: pointer;
      }
      &.back input:focus + span {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -1008px -38px;
      }
      &.bakcground span {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -938px -2px;
      }
      &.bakcground input:focus + span {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -938px -37px;
      }
      &.new-email span {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -729px -37px;
      }
      &.new-email input:focus + span {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -729px -71px;
      }
      &.delet-email span {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -763px -37px;
      }
      &.delet-email input:focus + span {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -763px -71px;
      }
      &.contact span.icon {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -634px -12px;
        border-left: none;
      }
      &.contact textarea:focus + span span.icon {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -634px -48px;
      }
      &.create-pass span {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -798px -37px;
      }
      &.create-pass input:focus + span {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -798px -71px;
      }
      &.confirm-pass span {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -833px -37px;
      }
      &.confirm-pass input:focus + span {
        background: #efeeec url(../img/icons-small-spritte.png) no-repeat -833px -71px;
      }
    }

    .selected {
      position: relative;

      .select span:hover {
        cursor: pointer;
      }

      .drop {
        position: absolute;
        top: 35px;
        left: 0;
        z-index: 1;
        width: 100%;
        background: #fff;
        border-left: 1px solid #c6c6c6;
        border-right: 1px solid #c6c6c6;
        border-bottom: 1px solid #c6c6c6;
        @include box-shadow(1px 1px 3px #6239A9);

        li {
          border-bottom: 1px solid #c6c6c6;
          height: 35px;
          line-height: 35px;
          padding: 0 10px;
          margin: 0;
          @include transition(background 0.3s linear);
          &:hover {
            cursor: pointer;
            background: #7055b2;
            color: #fff;
          }
        }

        li:last-child {
          border-bottom: 0;
        }
      }
    }

    button, .send {
      margin-top: -1px !important;
      width: 100%;
      display: block;
      height: 45px;
      background: #502e8b url(../img/bg-arrow-button.png) no-repeat right 12px center !important;
      color: #fff;
      border-right: 1px solid #a494be;
      border-left: 1px solid #a494be;
      border-top: 1px solid #c6c6c6;
      border-bottom: none;
      @include transition(background $dur_btn linear);
      span > span {
        width: 32px;
        height: 23px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        background: url(../img/icons-small-spritte.png) no-repeat -320px -7px;
      }

      span > span.discount-email-send {
        background: url(../img/icons-small-spritte.png) no-repeat -53px -42px;
      }

      &:hover {
        background: #6B37AB url(../img/bg-arrow-button.png) no-repeat right 12px center !important;
      }
    }

    .send span > span {
      background: url(../img/icons-small-spritte.png) no-repeat -53px -42px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .tab-item.history {
    .col-xs-6 {
      width: 100%;
      float: none;
    }
  }
}

@media only screen and (max-width: 500px) {
  .tab-item.history {
    form .wrap-check {
      max-width: 100% !important;
    }
  }
  #airfile .tabs-cont .space p {
    margin-left: 15px;
  }
  #airfile .tabs-cont .space {
    text-align: left;
  }
  #airfile .tabs-cont .space p {
    margin-right: 0;
  }
}

@media only screen and (max-width: 400px) {

  #airfile .tabs-cont .tab-item .list-file ul li .left {
    float: none;
    display: block;
  }
  #airfile .tabs-cont .tab-item .list-file ul li .right {
    color: #3e3e3e;
    float: none;
    display: block;
    font-size: 14px;
    margin-top: 5px;
    background: #DADADA;
    padding: 5px 10px;
  }
  #airfile .tabs-cont .box .heading h1 {
    font-size: 21px;
  }
}

@media only screen and (max-width: 390px) {
  #airfile .header .tabs-control-link {
    width: auto;
    padding: 0 40px 0 40px;
  }
  #airfile .header .tabs-control-link i {
    left: 10px;
  }
}

@media only screen and (max-width: 390px) {
  #airfile .header .tabs-control-link {
    padding: 0 30px 0 40px;
  }
}

@media only screen and (max-width: 330px) {
  #airfile .header .tabs-control-link {
    position: relative;
    top: 4px;
    span {
      display: none;
    }
  }
  #airfile .header .tabs-control-link i {
    left: 25px;
  }
}

/* ---------------------------------------------------------------------
+ PAGE TAB TRANSFER
---------------------------------------------------------------------- */
#airfile {
  /* get link */
  .get-link {
    padding: 0;

    .heading-small {
      h2 {
        span {
          width: 25px;
          height: 25px;
          display: inline-block;
          vertical-align: middle;
          background: url(../img/icons-small-spritte.png) no-repeat -1081px -7px;
        }
      }
    }

    form {
      margin-bottom: 15px;
    }

    form .input-enter .wrap > div, div .input-enter .wrap > div {
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      padding: 0 15px;
      background: #EFEEEC;
      border-left: 1px solid #c6c6c6;
      @include transition(background $dur_tran linear);
    }

    form .input-enter .wrap.bakcground div > i, div .input-enter .wrap.bakcground div > i {
      display: inline-block;
      width: 30px;
      height: 33px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      background: #efeeec url(../img/icons-small-spritte.png) no-repeat -1112px -2px;
      @include transition(background $dur_tran linear);
    }
    form .input-enter .wrap.bakcground input:focus + div i, div .input-enter .wrap.bakcground input:focus + div i {
      background: #efeeec url(../img/icons-small-spritte.png) no-repeat -1112px -37px;
    }

    div .input-enter .wrap.bakcground .spinner {
      position: absolute;
      top: 10px;
      left: 0px;
      bottom: inherit;
      padding: inherit;
      border: none;
      margin-top: 0;
      background-color: transparent;
    }
  }
  /* // get link */

  .tab-item.transfer {
    .bg {
      /* Set rules to fill background */
      min-height: 100%;
      min-width: 100%;

      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: 1;
      background: url(../img/bg-transfer.jpg) no-repeat 0 0;
      @include background-size(cover);
    }

    .top-icons {
      position: absolute;
      top: 90px;
      right: 20px;
      z-index: 3;
      line-height: 1;
      border: 1px solid #635f5a;
      @include border-radius(3px);
      @include transition(border $dur_btn linear);
      padding: 6px;
      a {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 0 3px;
        @include transition(background $dur_tran linear);
      }
      a.icon-bg {
        background: url(../img/icons-small-spritte.png) no-repeat -85px -45px;
      }
      a.icon-set {
        background: url(../img/icons-small-spritte.png) no-repeat -154px -45px;
      }

      &:hover {
        border-color: #7055b2;
      }

      &:hover a.icon-bg {
        background: url(../img/icons-small-spritte.png) no-repeat -119px -45px;
      }

      &:hover a.icon-set {
        background: url(../img/icons-small-spritte.png) no-repeat -188px -45px;
      }
    }
  }

  .tab-item.transfer > .clearfix {
    position: relative;
    z-index: 2;
  }

  .tab-forms {
    border-top: 4px solid #4d317d;

    h5.title {
      text-align: center;
      position: relative;
      padding-right: 28px;
      color: #141710;
      margin: 0 0 20px 0;
      font-size: 15px;
      span {
        font-size: 20px;
      }

      span.ico {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -14px;
        width: 28px;
        height: 28px;
        display: inline-block;
        vertical-align: middle;
        background: url(../img/icons-small-spritte.png) no-repeat -478px -4px;
        @include transition(background $dur_tran linear);
      }
      &:hover span.ico {
        background: url(../img/icons-small-spritte.png) no-repeat -478px -39px;
      }
    }

    /* send files */
    .send-files {
      margin-top: 70px;
      @include border-radius(10px);
      background-image: none;
    }

    .get-pro {
      display: block;
      background: rgba(0, 0, 0, .8);
      margin-top: 15px;
      position: relative;
      padding: 15px 15px 15px 105px;
      color: #fff;
      cursor: pointer;
      @include transition(background 0.1s linear);
      @include transition(opacity 0.5s linear);

      &.ng-hide-remove,
      &.ng-hide-add.ng-hide-add-active {
        opacity: 0;
        display: block !important;
      }

      &.ng-hide-add,
      &.ng-hide-remove.ng-hide-remove-active {
        opacity: 1;
        display: block !important;
      }

      &:hover {
        background: #b22c87;
      }

      .ico {
        background: #b22c87 url(../img/ico-medal.png) no-repeat center center;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 85px;
      }
      p {
        position: relative;
        padding-right: 25px;
        font-family: 'Georgia';
        font-size: 15px;
        color: #fff;
        span {
          font-family: 'robotoregular' !important;
          font-size: 17px !important;
        }
      }
      p::after {
        content: '';
        width: 12px;
        height: 17px;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -7.5px;
        background: url(../img/ico-arrow.png) no-repeat left 3px center;
      }
    }

    /* transfer files */
    .transfer-files {
      margin-top: 70px;
      margin-bottom: 15px;
      @include border-radius(10px);
      background-position: center bottom;
      @include transition(opacity 0.5s linear);

      &.ng-hide-remove,
      &.ng-hide-add.ng-hide-add-active {
        opacity: 0;
        display: block !important;
      }

      &.ng-hide-add,
      &.ng-hide-remove.ng-hide-remove-active {
        opacity: 1;
        display: block !important;
      }

      .list-file {
        ul li + li {
          border-top: 1px solid #c6c6c6;
        }
        ul li {
          margin: 0;
          position: relative;
        }
        ul li > span.icon {
          & > span {
            padding: 25px 30px 12px 15px;
            position: absolute;
            left: -30px;
            top: -7px;
          }

          position: absolute;
          top: 7px;
          right: 10px;
          display: inline-block;
          width: 5px;
          height: 20px;
          display: inline-block;
          vertical-align: middle;
          background: url(../img/icons-small-spritte.png) no-repeat -883px -8px;
        }
        ul li:first-child:hover {
          background: none;
        }
        ul li:first-child span.left span {
          background: url(../img/icons-small-spritte.png) no-repeat -838px -8px;
        }
      }
    }

    .transfer-email {
      border-top: 1px solid #c6c6c6;
      border-right: 1px solid #c6c6c6;
      border-left: 1px solid #c6c6c6;
      background-color: #e6e5e2;
      margin-top: 20px;

      p.title {
        font-size: 14px;
        padding: 12px;
        text-align: center;
        color: #8f8f8f;
        background: #e6e5e2;
      }

      ul {
        border-top: 1px solid #c6c6c6;
        border-bottom: 1px solid #c6c6c6;
      }

      .tab-transfer {
        position: relative;
        float: left;
        width: 25%;
        height: 52px;
        margin: 0;
        text-align: center;
        line-height: 52px;
        border-right: 1px solid #c6c6c6;
        &.no-b {
          border-right: none;
        }
        cursor: pointer;

        a {
          display: block;
        }

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -12.5px;
          margin-left: -12.5px;
          width: 25px;
          height: 25px;
          display: inline-block;
        }

        &:hover, &.selected {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c6c6c6+0,d9d9d9+21,d9d9d9+100 */
          background: #c6c6c6; /* Old browsers */
          background: -moz-linear-gradient(top, #c6c6c6 0%, #d9d9d9 21%, #d9d9d9 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #c6c6c6 0%, #d9d9d9 21%, #d9d9d9 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #c6c6c6 0%, #d9d9d9 21%, #d9d9d9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6c6c6', endColorstr='#d9d9d9', GradientType=0); /* IE6-9 */
        }

        &.link span {
          background: url(../img/icons-small-spritte.png) -697px -6px;
        }
        &.email span {
          background: url(../img/icons-small-spritte.png) -731px -6px;
        }
        &.phone span {
          background: url(../img/icons-small-spritte.png) -768px -6px;
        }
        &.icon span {
          background: url(../img/icons-small-spritte.png) -803px -6px;
        }
      }
    }

    .set-background,
    .payment-problem,
    .transfer-complete {
      background-position: center top;
      @include border-radius(10px);

      .start-transfer {
        margin-bottom: 15px;
      }
    }

    /* payment problem */
    .payment-problem {
      .heading-small {
        h2 {
          span {
            width: 36px;
            height: 36px;
            display: inline-block;
            vertical-align: middle;
            background: url(../img/icons-small-spritte.png) no-repeat -969px -1px;
          }
        }
      }
    }

    /* Transfer complete */
    .transfer-complete {
      .heading-small {
        h2 {
          span {
            width: 25px;
            height: 25px;
            display: inline-block;
            vertical-align: middle;
            background: url(../img/icons-small-spritte.png) no-repeat -55px -7px;
          }
        }
      }
    }

    @media only screen and (max-width: 800px) {
      .col-xs-6 {
        float: none;
        width: 100%;
      }
    }
  }
}

/* ---------------------------------------------------------------------
+ PAGE ACCOUNT
---------------------------------------------------------------------- */
#account {
  margin-top: 18px;
  padding-bottom: 40px;

  .max-width {
    max-width: 800px;
    margin: 0;
  }

  /* btn link */
  .btn-link {
    border: 1px solid #c6c6c6;
    background-image: none;
    border-radius: 0;
    padding: 15px;
    &:hover {
      background: #EFEEEC;
      text-decoration: none;
    }

    ul {
      border: 1px solid #d1d1d1;
      background: #fff;
      li {
        text-align: right;
        margin: 0;
        border-bottom: 1px solid #d1d1d1;

        a {
          color: #502e8b;
          font: 18px/18px 'NeoSansW01', sans-serif;
          padding: 20px 30px 20px 70px;
          position: relative;
          display: block;
        }

        span {
          display: block;
          width: 35px;
          height: 35px;
          position: absolute;
          left: 20px;
          top: 50%;
          margin-top: -14px;
          background: url(../img/icons-small-spritte.png) no-repeat;
          @include transition(background $dur_tran linear);
        }

        &:hover {
          cursor: pointer;
        }

        &.castle .icon {
          background-position: -216px -37px;
        }
        &.castle:hover .icon {
          background-position: -216px -71px;
        }
        &.back .icon {
          background-position: -253px -37px;
        }
        &.back:hover .icon {
          background-position: -253px -71px;
        }
        &.people .icon {
          background-position: -294px -37px;
        }
        &.people:hover .icon {
          background-position: -294px -71px;
        }
        &.planet .icon {
          background-position: -334px -37px;
        }
        &.planet:hover .icon {
          background-position: -334px -71px;
        }
        &.contact .icon {
          background-position: -374px -37px;
        }
        &.contact:hover .icon {
          background-position: -374px -71px;
        }
      }
      li:last-child {
        border-bottom: 0;
      }
    }
  }
  /* // btn link */

  /* password */
  .password {
    background-position: center center;
    position: relative;
    margin-top: 40px;
    p.margin {
      margin-top: 0;
    }

    .heading-small h2 {
      span {
        background: url(../img/icons-small-spritte.png) no-repeat -555px -10px;
        width: 20px;
        height: 20px;
      }
    }

    .btn-tik {
      margin-top: 25px;
    }
  }
  /* // password */

  @media only screen and (max-width: 800px) {
    .container.max-width .col-xs-6 {
      width: 100%;
      float: none;
    }
    .block-contact {
      margin-top: 40px;
    }
  }

  @media only screen and (max-width: 350px) {
    .btn-link ul li a {
      font-size: 15px;
      line-height: 15px;
      padding: 20px 15px 20px 60px;
    }
  }
}

.main-close {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 15px;
  right: 15px;
  background: url(../img/icons-small-spritte.png) no-repeat -1049px -7px;
  @include transition(background $dur_tran linear);
  &:hover {
    background-position: -1049px -43px;
  }
}

/*
#menu.active-add, #menu.active-remove {
  @include transition(all $dur_tran linear);
}

#menu.active,
#menu.active-add.active-add-active {
  width: 200px;
}

#menu.active-remove.active-remove-active {
  width: 0;
}*/

.animation.fadein,
.animation.fadeout {
  @include transition(all 0.5s linear);
}

.animation.fadein.ng-hide-remove,
.animation.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.animation.fadeout.ng-hide-add,
.animation.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}