tags-input {
  display: block; }

tags-input *, tags-input :after, tags-input :before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

tags-input .host {
  position: relative;
  height: 100%; }

tags-input .host:active {
  outline: none; }

tags-input .tags
{
  border: 1px solid #c6c6c6;
  padding: 0 45px 0 5px;
  width: 100%;
  color: #666 !important;
  margin-top: -1px !important;
  height: 35px;
  line-height: 25px;
  background: #fff;
  -moz-appearance: inherit;
  -webkit-appearance: inherit;;
  overflow: hidden;
  word-wrap: break-word;
  cursor: text;
  background-color: #fff;
  height: 100%;
}

tags-input .tags.focused {
  outline: none; }

tags-input .tags .tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

tags-input .tags .tag-item {
  margin: 2px;
  padding: 0 5px;
  display: inline-block;
  float: left;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 26px;
  line-height: 25px;
  border: 1px solid #acacac;
  border-radius: 3px;
  background: -webkit-linear-gradient(top, #f0f9ff 0, #cbebff 47%, #a1dbff 100%);
  background: linear-gradient(to bottom, #f0f9ff 0, #cbebff 47%, #a1dbff 100%); }

tags-input .tags .tag-item .remove-button {
  margin: 0 0 0 5px;
  padding: 0;
  border: none;
  background: 0 0;
  cursor: pointer;
  vertical-align: middle;
  font: 700 16px Arial, sans-serif;
  color: #585858; }

tags-input .tags .input.invalid-tag, tags-input .tags .tag-item .remove-button:active {
  color: red; }

tags-input .tags .input {
  border: 0;
  outline: none;
  margin: 2px;
  padding: 0 0 0 1px;
  float: left;
  height: 26px;
  //font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

tags-input .tags .input::-ms-clear {
  display: none; }

tags-input[disabled] .host:focus {
  outline: none; }

tags-input[disabled] .tags {
  background-color: #eee;
  cursor: default; }

tags-input[disabled] .tags .tag-item {
  opacity: .65; }

tags-input[disabled] .tags .tag-item .remove-button {
  cursor: default; }

tags-input[disabled] .tags .tag-item .remove-button:active {
  color: #585858; }

tags-input[disabled] .tags .input {
  background-color: #eee;
  cursor: default; }

tags-input .autocomplete {
  margin-top: 5px;
  position: absolute;
  padding: 5px 0;
  z-index: 999;
  width: 100%;
  background-color: #fff; }

tags-input .autocomplete .suggestion-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 280px;
  overflow-y: auto;
  position: relative; }

tags-input .autocomplete .suggestion-item {
  padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #fff; }

tags-input .autocomplete .suggestion-item.selected, tags-input .autocomplete .suggestion-item.selected em {
  color: #fff;
  background-color: #0097cf; }

tags-input .autocomplete .suggestion-item em {
  font: normal bold 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #fff; }
