<div air-file-header-menu>
    <a href="#" name="age" class="tabs-control-link transfer" ng-class="{'active': shell.isMenuActive('transfer')}"
       ui-sref="transfer" ui-sref-opts="{reload: true}"><i
            class="fa fa-paper-plane-o"></i><span>Transfer</span></a>
    <a href="#" class="tabs-control-link history" ng-class="{'active': shell.isMenuActive('history')}" ui-sref="history"
       ui-sref-opts="{reload: true}"><i
            class="fa fa-history"></i><span>History</span></a>
</div>

<div class="space page-account">
    <p><span></span>Your AirFile Account</p>
</div>
<div class="bg-airfile-white container">

    <div id="account">
        <div class="container max-width">
            <div class="row">
                <div class="col-xs-6">
                    <div class="btn-link box">
                        <ul>
                            <li class="castle"><a href="#" ng-click="vm.changePassword()"><span class="icon"></span>Change
                                password</a></li>
                            <li class="back"><a href="#" ng-click="vm.changeBackground()"><span class="icon"></span>Change
                                background</a></li>
                            <li class="people"><a href="#" ng-click="vm.addRemoveUsers()"><span class="icon"></span>Add/Remove
                                users</a></li>
                            <li class="planet"><a href="#" ng-click="vm.choosePrivateSpace()"><span class="icon"></span>you.airfile.co</a>
                            </li>
                            <li class="contact"><a href="#" ng-click="vm.contactUs()"><span class="icon"></span>Contact
                                AirFile</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>