<div air-file-header-menu>
    <a href="#" name="age" class="tabs-control-link transfer" ng-class="{'active': shell.isMenuActive('transfer')}"
       ui-sref="transfer" ui-sref-opts="{reload: true}"><i
            class="fa fa-paper-plane-o"></i><span>Transfer</span></a>
    <a href="#" class="tabs-control-link history" ng-class="{'active': shell.isMenuActive('history')}" ui-sref="history"
       ui-sref-opts="{reload: true}"><i
            class="fa fa-history"></i><span>History</span></a>
</div>
<div class="bg-airfile-white" id="airfile">
    <div class="tabs-cont">
        <div class="tab-item history active">

            <div class="space">
                <p><span class="circle"></span><span ng-bind="::vm.spaceUsed"></span> % of space used</p>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <!-- list file -->
                        <div class="list-file">
                            <ul class="ng-hide" ng-show="vm.files.length > 0">
                                <li class="clearfix clickable" ng-repeat="file in vm.files">
                                    <div ng-click="vm.toggleFileMenu(file)">
                                        <span class="left">
                                            <span class="fileType"></span>
                                            <span ng-bind="::file.name"></span>
                                        </span>
                                        <span class="right">
                                            <span ng-bind="::file.date"></span>
                                        </span>

                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="bottom clearfix ng-hide" ng-show="file.opened">
                                        <div class="left">36mb</div>
                                        <div class="right">
                                            <a href="#" class="btn-icon btn-plane"><i
                                                    class="fa fa-paper-plane-o"></i></a>
                                            <a href="#" class="btn-icon btn-delete" ng-click="vm.deleteFile($index)"><i
                                                    class="fa fa-trash"></i></a>
                                            <a href="#" class="btn-icon btn-phone" ng-click="vm.transferToMobile(file)">
                                                <i class="fa fa-mobile-phone"></i>
                                            </a>
                                            <a href="#" class="btn-icon btn-ic" ng-click="vm.share(file)"><i></i></a>
                                            <a href="#" class="btn-icon btn-download"><i class="fa fa-download"></i></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- no file -->
                        <div class="ng-hide" ng-hide="vm.files.length > 0">
                            <div class="text-center">
                                <button class="no-file">No files yet.</button>
                            </div>

                            <div class="text-center">
                                <p class="start-transfer"><span></span>Start a transfer to have files in your history.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>