<div air-file-header-menu>
    <a href="#" name="age" class="tabs-control-link transfer" ng-class="{'active': shell.isMenuActive('transfer')}"
       ui-sref="transfer" ui-sref-opts="{reload: true}"><i
            class="fa fa-paper-plane-o"></i><span>Transfer</span></a>
    <a href="#" class="tabs-control-link history" ng-class="{'active': shell.isMenuActive('history')}" ui-sref="history"
       ui-sref-opts="{reload: true}"><i
            class="fa fa-history"></i><span>History</span></a>
</div>

<div class="bg-airfile" id="airfile">
    <div class="tabs-cont">
        <div class="tab-item transfer">
            <div class="top-icons" ng-click="vm.selectBackground()">
                <a class="icon-bg"></a>
                <a class="icon-set"></a>
            </div>
            <div class="bg" style="{{shell.background}}"></div>
            <div class="clearfix">
                <div class="tab-forms">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="transfer-files box ng-hide" ng-show="vm.showTransferBox">
                                    <form action="#" name="transferForm">
                                        <h5 class="title">Send very big files for free - <span>Up to 3GB</span><span
                                                class="ico" ng-click="vm.getHelp()"></span></h5>

                                        <div class="input-enter">
                                            <div class="wrap new-transfer clickable" ui-sref="transfer">
                                                <input type="text" placeholder="Start new transfer">
                                                <i class="fa fa-lg fa-paper-plane-o"></i>
                                            </div>
                                        </div>
                                        <div class="received-instructions">
                                            You received a <strong>transfer</strong>. You can <strong>download
                                            it</strong> or <strong>share it</strong> with someone else.
                                        </div>

                                        <div class="ng-hide" ng-show="vm.files.length > 0">
                                            <div class="transfer-email">
                                                <p class="title"><span ng-bind="vm.title"></span></p>
                                                <ul class="clearfix">
                                                    <li class="tab-transfer link"
                                                        ng-mouseenter="vm.transferTooltipEnter('link')"
                                                        ng-mouseleave="vm.transferTooltipLeave()"
                                                        ng-click="vm.selectFunction('link')"
                                                        ng-class="{'selected': vm.selectedFunction === 'link' }">
                                                        <a><span></span></a></li>
                                                    <li class="tab-transfer email"
                                                        ng-mouseover="vm.transferTooltipEnter('email')"
                                                        ng-mouseleave="vm.transferTooltipLeave()"
                                                        ng-click="vm.selectFunction('email')"
                                                        ng-class="{'selected': vm.selectedFunction === 'email' }">
                                                        <a><span></span></a></li>
                                                    <li class="tab-transfer phone"
                                                        ng-mouseover="vm.transferTooltipEnter('mobile')"
                                                        ng-mouseleave="vm.transferTooltipLeave()"
                                                        ng-click="vm.selectFunction('mobile')"
                                                        ng-class="{'selected': vm.selectedFunction === 'mobile' }">
                                                        <a><span></span></a></li>
                                                    <li class="tab-transfer icon no-b"
                                                        ng-mouseover="vm.transferTooltipEnter('share')"
                                                        ng-mouseleave="vm.transferTooltipLeave()"
                                                        ng-click="vm.selectFunction('share')"
                                                        ng-class="{'selected': vm.selectedFunction === 'share' }">
                                                        <a><span></span></a></li>
                                                </ul>
                                            </div>

                                            <div class="input-enter ng-hide" ng-show="vm.selectedFunction === 'email'">
                                                <div class="wrap people ng-hide"
                                                     ng-show="transferForm.email.$viewValue.length >= 3">
                                                    <input type="text" placeholder="Add people to this transfer">
                                                    <span></span>
                                                </div>

                                                <div class="wrap email">
                                                    <input type="email" name="email" placeholder="Your Email"
                                                           ng-model="vm.email">
                                                    <span></span>
                                                </div>

                                                <div class="wrap pass ng-hide"
                                                     ng-show="transferForm.email.$viewValue.length >= 3">
                                                    <input type="password" placeholder="Add password">
                                                    <span></span>
                                                </div>

                                                <div class="wrap message ng-hide"
                                                     ng-show="transferForm.email.$viewValue.length >= 3">
                                                    <input type="text" placeholder="Message (Optional)">
                                                    <span></span>
                                                </div>

                                                <button type="submit" class="send">
                                                    <span><span></span>Send</span>
                                                </button>
                                            </div>

                                            <div class="social ng-hide" ng-show="vm.selectedFunction === 'share'">
                                                <a href="#" class="ico-social fb"></a>
                                                <a href="#" class="ico-social tw"></a>
                                                <a href="#" class="ico-social in"></a>
                                                <a href="#" class="ico-social gl"></a>
                                            </div>

                                            <div class="transfer-mobile box no-border ng-hide"
                                                 ng-show="vm.selectedFunction === 'mobile'">
                                                <div class="img text-center">
                                                    <div></div>
                                                    <p>How does it work?</p>
                                                </div>

                                                <ul>
                                                    <li>1 - Download a QR scanner app on your mobile</li>
                                                    <li>2 - Open the QR code scanner app</li>
                                                    <li>3 - Point the camera on the QR code</li>
                                                    <li>4 - Click on the download link</li>
                                                </ul>
                                            </div>

                                            <div class="get-link box no-border ng-hide"
                                                 ng-show="vm.selectedFunction === 'link'">
                                                <div>
                                                    <div class="input-enter">
                                                        <div class="wrap bakcground">
                                                            <input type="email" placeholder="airfile.co/f92ja">

                                                            <div class="clickable"><i></i>Copy</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <button type="submit" class="download-files">
                                                <i class="fa fa-download"></i>&nbsp;
                                                </span>Download</span>
                                            </button>

                                            <div class="list-file">
                                                <ul>
                                                    <li class="clearfix">
                                                        <span class="left"><span class="fileType"></span><text
                                                                ng-bind="vm.files.length"></text> File<text
                                                                ng-show="vm.files.length > 1">s
                                                        </text> </span><span
                                                            class="right"
                                                            ng-bind="vm.bytesToHumanFormat(vm.totalSize)"></span>
                                                    </li>
                                                    <li class="clearfix" ng-repeat="file in vm.files">
                                                        <span class="left"><span class="fileType"></span><span
                                                                ng-bind="file.name"></span>
                                                        </span><span
                                                            class="icon"><span
                                                            ng-click="vm.toggleFileMenu(file)"></span></span>

                                                        <div class="clearfix"></div>
                                                        <div class="bottom clearfix ng-hide" ng-show="file.opened">
                                                            <div class="left"
                                                                 ng-bind="vm.bytesToHumanFormat(file.size)"></div>
                                                            <div class="right">
                                                                <a href="#" class="btn-icon btn-plane"><i
                                                                        class="fa fa-paper-plane-o"></i></a>
                                                                <a href="#" class="btn-icon btn-phone" ng-click="vm.transferToMobile(file)">
                                                                    <i class="fa fa-mobile-phone"></i>
                                                                </a>
                                                                <a href="#" class="btn-icon btn-ic" ng-click="vm.share(file)"><i></i></a>
                                                                <a href="#" class="btn-icon btn-download"><i class="fa fa-download"></i></a>
                                                            </div>
                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <a class="get-pro clearfix ng-hide animation fadein" ng-click="vm.enjoyPro()"
                                   ng-show="vm.showEnjoyProBox">
                                    <span class="ico"></span>

                                    <p class="right">
                                        <span>Get Pro - From only $6/m</span><br>
                                        See benefits, upgrade & enjoy.
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>