<div air-file-header-menu>
    <a href="#" name="age" class="tabs-control-link transfer" ng-class="{'active': shell.isMenuActive('transfer')}"
       ui-sref="transfer" ui-sref-opts="{reload: true}"><i
            class="fa fa-paper-plane-o"></i><span>Transfer</span></a>
    <a href="#" class="tabs-control-link history" ng-class="{'active': shell.isMenuActive('history')}" ui-sref="history"
       ui-sref-opts="{reload: true}"><i
            class="fa fa-history"></i><span>History</span></a>
</div>
<div class="bg-airfile" id="airfile">
    <div class="tabs-cont">
        <div class="tab-item transfer">
            <div class="top-icons" ng-click="vm.selectBackground()">
                <a class="icon-bg"></a>
                <a class="icon-set"></a>
            </div>
            <img class="bg" ng-src="{{vm.imagePath}}"/>
            <div class="clearfix">
                <div class="tab-forms">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="transfer-files box ng-hide" ng-show="vm.showTransferBox">
                                    <form action="#" name="transferForm">
                                        <h5 class="title">Send very big files for free - <span>Up to 3GB</span><span
                                                class="ico" ng-click="vm.getHelp()"></span></h5>

                                        <div class="input-enter">
                                            <div class="wrap url">
                                                <input type="text" placeholder="Add file(s) from URL Link">
                                                <span></span>
                                            </div>

                                            <div class="wrap addfiles" ng-model="vm.sendFiles"
                                                 ngf-select="vm.addFiles($files)" ngf-multiple="'true'">
                                                <input type="text" placeholder="Add more file(s) from your device">
                                                <span></span>
                                            </div>
                                        </div>

                                        <div class="ng-hide" ng-show="vm.files.length > 0">
                                            <div class="transfer-email">
                                                <p class="title"><span ng-bind="vm.title"></span></p>
                                                <ul class="clearfix">
                                                    <li class="tab-transfer link"
                                                        ng-mouseenter="vm.transferTooltipEnter('link')"
                                                        ng-mouseleave="vm.transferTooltipLeave()"
                                                        ng-click="vm.selectFunction('link')"
                                                        ng-class="{'selected': vm.selectedFunction === 'link' }">
                                                        <a><span></span></a></li>
                                                    <li class="tab-transfer email"
                                                        ng-mouseover="vm.transferTooltipEnter('email')"
                                                        ng-mouseleave="vm.transferTooltipLeave()"
                                                        ng-click="vm.selectFunction('email')"
                                                        ng-class="{'selected': vm.selectedFunction === 'email' }">
                                                        <a><span></span></a></li>
                                                    <li class="tab-transfer phone"
                                                        ng-mouseover="vm.transferTooltipEnter('mobile')"
                                                        ng-mouseleave="vm.transferTooltipLeave()"
                                                        ng-click="vm.selectFunction('mobile')"
                                                        ng-class="{'selected': vm.selectedFunction === 'mobile' }">
                                                        <a><span></span></a></li>
                                                    <li class="tab-transfer icon no-b"
                                                        ng-mouseover="vm.transferTooltipEnter('share')"
                                                        ng-mouseleave="vm.transferTooltipLeave()"
                                                        ng-click="vm.selectFunction('share')"
                                                        ng-class="{'selected': vm.selectedFunction === 'share' }">
                                                        <a><span></span></a></li>
                                                </ul>
                                            </div>

                                            <div class="input-enter ng-hide" ng-show="vm.selectedFunction === 'email'">
                                                <div class="wrap email">
                                                    <input type="email" name="email" placeholder="Your Email"
                                                           ng-model="vm.email">
                                                    <span></span>
                                                </div>

                                                <div class="wrap people ng-hide"
                                                     ng-show="transferForm.email.$viewValue.length >= 3">
                                                    <tags-input type="email"
                                                                placeholder="{{vm.people.length >0 ? 'Add more people':'Enter your email'}}"
                                                                ng-model="vm.people"
                                                                add-on-space="true"
                                                                allowed-tags-pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
                                                    </tags-input>
                                                    <span></span>
                                                </div>

                                                <div class="wrap pass ng-hide"
                                                     ng-show="transferForm.email.$viewValue.length >= 3">
                                                    <input type="password" placeholder="Add password">
                                                    <span></span>
                                                </div>

                                                <div class="wrap message ng-hide"
                                                     ng-show="transferForm.email.$viewValue.length >= 3">
                                                    <input type="text" placeholder="Message (Optional)">
                                                    <span></span>
                                                </div>

                                                <button ng-click="vm.sendMail()" class="send"><span>
                                                    <span></span>Send</span>
                                                </button>
                                            </div>

                                            <div class="ng-hide social-wrapper"
                                                 ng-show="vm.selectedFunction === 'share'">
                                                <div class="spinner ng-hide" ng-hide="vm.socialLoaded">
                                                    <div class="bounce1"></div>
                                                    <div class="bounce2"></div>
                                                    <div class="bounce3"></div>
                                                </div>

                                                <div class="social" ng-class="{'invisible': !vm.socialLoaded}">
                                                    <a ng-click="vm.openShareLink('fb')"
                                                       class="ico-social fb clickable"></a>
                                                    <a ng-click="vm.openShareLink('tw')"
                                                       class="ico-social tw clickable"></a>
                                                    <a ng-click="vm.openShareLink('in')"
                                                       class="ico-social in clickable"></a>
                                                    <a ng-click="vm.openShareLink('gl')"
                                                       class="ico-social gl clickable"></a>
                                                </div>
                                            </div>

                                            <div class="transfer-mobile box no-border ng-hide"
                                                 ng-show="vm.selectedFunction === 'mobile'">
                                                <div class="spinner ng-hide" ng-hide="vm.downloadLink">
                                                    <div class="bounce1"></div>
                                                    <div class="bounce2"></div>
                                                    <div class="bounce3"></div>
                                                </div>

                                                <div class="img text-center" ng-class="{'invisible': !vm.downloadLink}">
                                                    <qrcode size=155 data="{{vm.downloadLink}}"></qrcode>
                                                    <p>How does it work?</p>
                                                </div>

                                                <ul>
                                                    <li>1 - Download a QR scanner app on your mobile</li>
                                                    <li>2 - Open the QR code scanner app</li>
                                                    <li>3 - Point the camera on the QR code</li>
                                                    <li>4 - Click on the download link</li>
                                                </ul>
                                            </div>

                                            <div class="get-link box no-border ng-hide" ng-class="{'file-box':vm.downloadLink === ''}"
                                                 ng-show="vm.selectedFunction === 'link'">
                                                <div>
                                                    <div class="input-enter">
                                                        <div class="wrap bakcground">
                                                            <div class="spinner ng-hide"
                                                                 ng-show="vm.downloadLink === ''">
                                                                <div class="bounce1"></div>
                                                                <div class="bounce2"></div>
                                                                <div class="bounce3"></div>
                                                            </div>
                                                            <input type="email" ng-model="vm.downloadLink" readonly
                                                                   ng-class="{'invisible': vm.downloadLink === ''}">

                                                            <div class="clickable"
                                                                 ng-hide="vm.downloadLink === ''"
                                                                 ngclipboard
                                                                 ngclipboard-success="vm.copyLink()"
                                                                 data-clipboard-text="{{vm.downloadLink}}">
                                                                <i ng-class="{'button-icon-ready':vm.linkCopied}"></i>{{vm.linkCopied
                                                                ? 'Copied' : 'Copy'}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="list-file">
                                                <ul>
                                                    <li class="clearfix">
                                                        <span class="left"><span class="fileType"></span><text
                                                                ng-bind="vm.files.length"></text> File<text
                                                                ng-show="vm.files.length > 1">s
                                                        </text> </span><span
                                                            class="right"
                                                            ng-bind="vm.bytesToHumanFormat(vm.totalSize)"></span>
                                                    </li>
                                                    <li class="clearfix" ng-repeat="file in vm.files">
                                                        <span class="left"><span class="fileType"></span>
                                                            <span ng-bind="(file.name| limitTo: vm.FILE_MAX_LENGTH)">
                                                            </span><span
                                                                    ng-show="file.name.length > vm.FILE_MAX_LENGTH">...</span>
                                                        </span><span
                                                            class="icon"><span
                                                            ng-click="vm.toggleFileMenu(file)"></span></span>

                                                        <div class="clearfix"></div>
                                                        <div class="bottom clearfix ng-hide" ng-show="file.opened">
                                                            <div class="left"
                                                                 ng-bind="vm.bytesToHumanFormat(file.size)"></div>
                                                            <div class="right">
                                                                <a class="btn-icon btn-delete"
                                                                   ng-click="vm.removeFile($index)"><i
                                                                        class="fa fa-trash"></i></a>
                                                            </div>
                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <a class="get-pro clearfix ng-hide animation fadein" ng-click="vm.enjoyPro()"
                                   ng-show="vm.showEnjoyProBox">
                                    <span class="ico"></span>

                                    <p class="right">
                                        <span>Get Pro - From only $6/m</span><br>
                                        See benefits, upgrade & enjoy.
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>