<div id="index" class="bg-cloud">
    <div class="clouds">
        <div class="cloud-top-left" air-file-cloud speed="7000">
            <img src="../content/img/cloud-top-left.png" alt="">
        </div>
        <div class="cloud-top-right" air-file-cloud speed="10000">
            <img src="../content/img/cloud-top-right.png" alt="">
        </div>
        <div class="cloud-bottom-left" air-file-cloud speed="13000">
            <img src="../content/img/cloud-bottom-left.png" alt="">
        </div>
        <div class="cloud-bottom-right" air-file-cloud speed="8000">
            <img src="../content/img/cloud-bottom-right.png" alt="">
        </div>
    </div>

    <div id="air">
        <div class="container">
            <div class="row">
                <div class="col-xs-7 left-block text-right">
                    <div class="wrap-checkbox plane border-color top-landing-box clickable" ng-click="vm.goToTransfer()">
                        <div class="plane-ie"></div>
                        <h1 class="title">AirFile</h1>
                        <label class="label-checkbox">
                            <input type="checkbox" disabled checked>
                            <span class="wrap"><span>Send up to 3GB</span></span>
                        </label>
                    </div>

                    <div class="wrap-checkbox border-color clickable" ng-click="vm.enjoyPro()">
                        <div class="plane-1"></div>
                        <div class="plane-2"></div>
                        <div class="plane-3"></div>
                        <div class="plane-4"></div>
                        <div class="plane-5"></div>
                        <div class="plane-6"></div>
                        <div class="plane-7"></div>
                        <div class="plane-8"></div>
                        <div class="plane-9"></div>
                        <div class="plane-10"></div>
                        <div class="plane-11"></div>
                        <div class="plane-12"></div>

                        <h1 class="title">AirFile <span>Pro</span></h1>
                        <label class="label-checkbox">
                            <input type="checkbox" checked disabled>
                            <span class="wrap"><span>Send up to 30GB</span></span>
                        </label>
                        <label class="label-checkbox">
                            <input type="checkbox" checked disabled>
                            <span class="wrap"><span>100-200GB Cloud Storage</span></span>
                        </label>
                        <label class="label-checkbox">
                            <input type="checkbox" checked disabled>
                            <span class="wrap"><span>Set custom backgrounds</span></span>
                        </label>
                        <label class="label-checkbox">
                            <input type="checkbox" checked disabled>
                            <span class="wrap"><span>Get a personal URL</span></span>
                        </label>
                        <label class="label-checkbox">
                            <input type="checkbox" checked disabled>
                            <span class="wrap"><span>Your transfers never expire</span></span>
                        </label>
                        <label class="label-checkbox">
                            <input type="checkbox" checked disabled>
                            <span class="wrap"><span>Set passwords to transfers</span></span>
                        </label>
                        <label class="label-checkbox">
                            <input type="checkbox" checked disabled>
                            <span class="wrap"><span>Remove Ads</span></span>
                        </label>
                        <label class="label-checkbox">
                            <input type="checkbox" checked disabled>
                            <span class="wrap"><span>Multiple users</span></span>
                        </label>
                    </div>
                </div>

                <div class="col-xs-5 right-block text-left">
                    <h3 class="title">Thanks for using AirFile for your file transfers.</h3>

                    <p class="descr">Enjoy our free service, or benefit from Pro</p>

                    <div class="text-center">
                        <button class="main-btn" ng-click="vm.enjoyPro()">Enjoy Pro</button>
                        <a class="main-btn white" ui-sref="transfer" ui-sref-opts="{reload: true}">Use free</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>